img {
    max-width: 100%;
    height: auto;
}

.image__mouvement {

     max-width: 100%;
    height: auto;
     border-radius: 8px;
}

.rotated {
    transform: rotate(90deg);
    display: inline-block;
  }

  /* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .container {
    padding-left: var(--space3x);
    padding-right: var(--space3x);
    padding-top: 80px;
  }

  /* Bug IOS
=> L'overflow doit être appliqué sur l'élément body ET html
pour faire disparaître le scroll sur safari IOS */
.noscroll,
.noscroll body {
  overflow: hidden;
}

/* Technique reprise de Bootsrap pour rendre le contenu 
uniquement accessible aux lecteurs vocaux (sr = screen reader) */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.link__unstyled{
  color: var(--black-site);
}