body {
    font-family: 'Poppins', sans-serif;
}



.article__text {
    font-size: 18px; /* Taille de police pour le paragraphe */
    font-weight: 16px; /* Poids normal de la police pour le paragraphe */
}

.article__title {
     font-size: 55px; /* Taille de police pour le paragraphe */
    font-weight: 16px;
}